body
{
	margin:0;
	padding:0;
	overflow:hidden;
}

*:focus
{
	outline:0;
}

#menuPageWrapper
{
	position: absolute;
    left: 0px;
    top: 0px;
    width: 1024px;
    height: 650px;
    /* border: 1px solid; */
    background-color: rgb(232, 216, 216);
}

#loginPageWrapper
{
	position: absolute;
    left: 200px;
    top: 50px;
    width: 600px;
    height: 500px;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgba(233, 204, 204, 0.5);
}

#titleHeadar
{
	position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-family: inherit;
    color: #5b28d8;
}

ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	
}
ul li{
	padding: 5px 10px 5px 10px;
	background: rgb(251, 233, 189);
	margin-bottom: 1px;
	border-radius: 5px;
	cursor: pointer;
}

.username
{
	position: absolute;
    left: 140px;
    top: 180px;
    width: 320px;
    border: 1px solid;
    height: 35px;
	padding: 5px;
    line-height: 25px;
	border-radius: 5px;
	font-size: 14px;
}
.password
{
	position: absolute;
    left: 140px;
    top: 240px;
    width: 320px;
    border: 1px solid;
    height: 35px;
	padding: 5px;
    line-height: 25px;
	border-radius: 5px;
	font-size: 14px;
}

#loginBtn
{
	position: absolute;
    left: 140px;
    top: 310px;
    width: 307px;
    height: 25px;
    border: 1px solid;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    line-height: 24px;
    font-weight: bold;
    cursor: pointer;
    background: rgba(67, 189, 70, 0.5);
	font-size: 14px;
}

#loginMsg
{
	position: absolute;
    left: 0px;
    top: 360px;
    width: 600px;
    height: auto;
    text-align: center;
    font-weight: bold;
	color: red;
	display: none;
}

.quant
{
	position: absolute;
    left: 860px;
    top: 90px;
    width: 60px;
    border: 1px solid;
    height: 30px;
    padding: 5px;
    line-height: 25px;
    border-radius: 5px;
	background: #e8d8d8;
}

.orderDetailWrapper
{
	position: absolute;
    left: 200px;
    top: 310px;
    width: 600px; 
    height: auto;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 12px 1px;
}

#confirmBtn
{
	position: absolute;
    left: 590px;
    top: 525px;
    width: auto; 
    height: 30px;
    border: 2px solid;
    text-align: center;
    border-radius: 10px;
    line-height: 27px;
    font-weight: bold;
	background: #e7e0e0;
	padding: 5px;
}

#viewOrderBtn
{
	position: absolute;
    left: 320px;
    top: 525px;
    width: auto; 
    height: 30px;
    border: 2px solid;
    text-align: center;
    border-radius: 10px;
    line-height: 27px;
    font-weight: bold;
	background: #e7e0e0;
	padding: 5px;
}

#deliveryMsg
{
	position: absolute;
    left: 0px;
    top: 130px;
    width: 500px;
    height: 30px;
    text-align: center;
    line-height: 27px;
    font-weight: bold;
	font-size: 20px;
}
#orderPopup
{
	position: absolute;
    left: 260px;
    top: 150px;
    width: 500px;
    height: 310px;
    line-height: 27px;
    border-radius: 10px;
    z-index: 10;
    background: #efeaea;
    box-shadow: 5px 5px 8px 0px red;
}
#orderPopupPatch
{
	position: absolute;
    left: 0px;
    top: 42px;
    width: 1024px;
    height: 600px;
    z-index: 10;
    background: rgba(249, 246, 246, 0.3);
}

.itemTxt
{
	position: absolute;
    left: 135px;
    top: 60px;
    width: 310px;
    text-align: center;
    font-size: 18px;
    color: rgb(178, 64, 64);
}

.sizeTxt
{
	position: absolute;
    left: 485px;
    top: 60px;
    width: 310px;
    text-align: center;
    font-size: 18px;
    color: rgb(178, 64, 64);
}

.quantityTxt
{
	position: absolute;
    left: 830px;
    top: 60px;
    width: 110px;
    text-align: center;
    font-size: 18px;
    color: rgb(178, 64, 64);
}

.p_css
{
	margin-top: -6px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;	
}

.com_marginP
{
	margin: -15px 0px 20px 0px;
}
#orderMsg
{
	padding-left: 23px;
}